@use "inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@use "inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@include default.all;
@include variable.all;

:root {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}
